    <div class="starter-template">
      <h1>All Orders</h1>
	<iframe
    src="http://localhost:3000/public/dashboard/f43f7e5c-38de-49be-8a19-b5f7c06622b8#bordered=false"
    frameborder="0"
    allowtransparency
    width=800
    height=600

	/>

    </div>