extends layout.pug

block content
    div(class="auth")
        h2 Sign in
        form(method="POST" action="/login")
              input(type="text" name="username" value="admin")
              input(type="password" name="password" value="admin")
              input(type="hidden" name="redirect" value=redirectUrl)
              p You can just hit Login :)
              button(type="submit" class="primary") Login
